#planes-tracker-dashboard {

    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid lightblue;

    > div.planes-tracker-item {
        display: flex; 
        flex-basis: calc(50% - 40px);  
        justify-content: center;
        flex-direction: column; 
        border: 2px solid grey;
        margin: auto;
        padding: 32px;

        // min-height: 296px;
        // width: 400px;
    }

    .box1 { border-color: lightgrey; }
    .box2 { border-color: lightyellow; }
    .box3 { border-color: floralwhite; }
    .box4 { border-color: lightpink; }

}