#planes-tracker-dashboard {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

    > div.planes-tracker-dashboard__group {
        display: flex; 
        flex-direction: row; 
        margin: auto;
        justify-content: center;
        margin-bottom: 10px;
        flex-wrap: wrap;

        > div.planes-tracker-item {
            margin: 5px;
            padding: 5px;
        }
    }
}