<div class="planes-table" >

    <h3>{{tableTitle}}</h3>
    <div class="planes-table__filter-placeholder">
        @if(filterByICAO()){
            <form class="filter-form">
                <input 
                name="searchTerm"
                [(ngModel)]="searchTerm"
                placeholder="Filter plane by ICAO number" />
            </form>
        }
    </div>
    @if((dataSource()||[]).length == 0){
        <p>Data loading...</p>
    }
    <div class="planes-table__table"> 
        <table mat-table [dataSource]="dataSource() | filterPlanesFrames : searchTerm(): maxNumberOfRows() | speedConversionPlaneFrames: speedUnit() " class="mat-elevation-z8">
        
            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->
        
            <!-- ICAO Column -->
            <ng-container matColumnDef="icao">
            <th mat-header-cell *matHeaderCellDef> ICAO </th>
            <td mat-cell *matCellDef="let element"> {{element.icao}} </td>
            </ng-container>
        
            <!-- Alt Column -->
            <ng-container matColumnDef="alt">
            <th mat-header-cell *matHeaderCellDef> Altitude [m] </th>
            <td mat-cell *matCellDef="let element"> {{element.alt}} </td>
            </ng-container>
        
            <!-- Lat Column -->
            <ng-container matColumnDef="lat">
            <th mat-header-cell *matHeaderCellDef> Latitude [°]</th>
            <td mat-cell *matCellDef="let element"> {{element.lat | number : '1.4-4'}} </td>
            </ng-container>
        
            <!-- Lon Column -->
            <ng-container matColumnDef="lon">
            <th mat-header-cell *matHeaderCellDef> Longitude [°] </th>
            <td mat-cell *matCellDef="let element"> {{element.lon | number : '1.4-4'}} </td>
            </ng-container>
        
            <!-- Timestamp Column -->
            <ng-container matColumnDef="speed">
                <th mat-header-cell *matHeaderCellDef> Speed [{{speedUnit()}}]</th>
                <td mat-cell *matCellDef="let element"> {{element.speed | number : '1.2-2'}} </td>
            </ng-container>
        
            <!-- Timestamp Column -->
            <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> Timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
    </div>
    
</div>

  

