/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

* {
  font-family: "Helvetica Neue",sans-serif;
  font-size: medium;

}

body {
  margin: 0;
  padding: 30px;
  color: #3b3b3b;

  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: "Helvetica Neue",
    density: 0,
    font-size: small
  ));
}

html {
  height: 100%;
}

